*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
.externalNativeBuild
.idea/compiler.xml
.idea/copyright/
.idea/gradle.xml
.idea/markdown-navigator/
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
app/.gitignore
app/build.gradle
app/libs/
app/proguard-rules.pro
app/src/androidTest/
app/src/test/
gradlew
gradlew.bat
